a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

body {
  --rand: 0;
  --color: black;
  --background: white;
  --winter: 0;

  transition: all 0.2s ease-in-out;
}

body.dark {
  --color: white;
  --background: #303033;
  --winter: 1;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

body {
  margin: 0px;
  padding: 0px;
  color: var(--color);
  background: var(--background);
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}
button:disabled {
  color: #999;
}
button:not(:disabled):active {
  background-color: #ddd;
}
button:focus {
  border-color: #666;
}

@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "ONE-Mobile-POP";
  font-size: 20px;
  user-select: none;
}

@keyframes tr {
  from {
    transform: scale(1.2) rotate(calc(calc(var(--rand)) * 5deg - 10deg));
  }
  to {
    transform: none;
  }
}
